@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color:#3A84FE ;
}
main{
    background-color: #ffffFf;
    border-radius: 7px;
    margin: 80px auto;
    max-width: 800px;
    min-height: 250px;
}

.todoTitle p{
    margin-top: 10px;
}

.todoForm{
    padding: 10px 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.todoForm input{
    margin: 10px 5px;
    width: 30%;
    height: 40px;
    padding: 10px;
    border:1px solid rgba(118, 118, 118,0.5) ;
    border-radius: 7px;
}
#descriptionTask{
    width: 60%;
}

.todoForm input[type="button"]{
    width: 10%;

}

.todoListHeader{
    padding: 15px;
    border-bottom: 1px solid rgba(118, 118, 118,0.7);
}

.todoListFilter{
    display: flex;
    flex-direction: row;
    padding: 0px 0px;
}
.todoListFilter p {
    margin-right: 10px;
}

.listOfTasks{
    padding: 15px;
}

.taskCard{
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.taskCard p{
    padding-top:10px;
}

.checkboxDiv{
    width: 5%;
}

.titleDiv{
    width: 25%;
}

.descriptionDiv{
    width: 55%;
}

.taskButtons{
    width: 12%;
}
.taskDescription{
    display: flex;
    flex-wrap:wrap;
}
.checkboxDiv{
    display: flex;
    align-items: end;
    justify-content: center;
    flex-direction: row;
    position: relative;

}
.unCheckedCheckBox{
    display: block;
    width: 18px;
    height: 18px;
    border: 1px solid #767676;
    border-radius: 2px;
    position: absolute;
    
}

.checkedCheckBox{
    background-color: black;
    position: relative;
    border-radius: 3px;
    width: 12px;
    height: 12px;
    z-index: 999;
    margin-bottom: 3px;
}

[id*=checkboxDiv]:hover{
    cursor: pointer;
}

.taskButtonsDiv{
    display: flex;
    
}
.taskButtonsDiv input{
    width: 50px;
    margin: 2px;
}

#editButton,
#cancelButton{
    display: none;
}

.textMarked p{
    text-decoration-line: line-through;
}